<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>基本情報午前問題</title>
</head>
<body>
    {% load static %}
    <script type="text/javescript" src="{% static 'yjquery/jquery-3.6.0.js ' %}"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
        <div id="container">
            <div id='head'>
                <header id='header'>
                    <h1 id=title>
                        <a  class="head-link" href="/">基本情報Top</a>
                    </h1>
                    <nav id="pc-nav navbar navbar-light bg-light">
                        <ul id="head-nav">
                            <li class="head-list"><a class="head-link" href="{% url 'cbt:updatelist' %}">問題の修正</a></li>
                            <!--<li class="head-list"><a class="head-link" href="#">構造式暗記帳</a></li>-->
                            <!--<li class="head-list"><a class="head-link" href="#">生薬暗記帳</a></li>-->
                            <!--<li class="head-list"><a class="head-link" href="#">症例問題にトライ</a></li>-->
                        </ul>
                    </nav>
                </header>
            </div>
            <div id='selectver'>
                {% block selectvar %}
                {% endblock selectvar %}
            </div>
            <div id='listvar'>
                {% block listvar %}
                {% endblock listvar %}
            </div>
            <div id='main'>
                {% block main %}
                {% endblock main %}
            </div>
        </div>
</body>
</html>