* {
   box-sizing:border-box;
}


#container{
    display:grid;
    grid-template-rows:150px 300px 600px 1fr;
    grid-template-columns:30% 1fr;
}

#head{
    grid-row:1/2;
    grid-column:1/3;
}

#header{
    width:100%;
    padding:30px 4% 10px;
    background-color:#4FEFF1;
    position:fixed;
    top:0;
    display: flex;
    align-items: center;
    z-index:9999;
}

#title{
    margin:0;
    padding:0;
    font-size:20px;
}

.head-link{
    text-decoration:none;
    color:#4b4b4b;
}

#head-nav{
    list-style:none;
    margin:0;
    display:flex;
}

.head-list{
    margin:0 0 0 15px;
    font-size:14px;
}

#selectvar{
    grid-row:2/3;
    grid-column:1/2;
}




#form1{
    width:90%;
}

#sbox{
    width:80%;
}

#sbtn{
    width:20%;
}

.zonelabel{
   border: 1px solid #8080ff;  /* 枠線 */
   border-radius: 9px;         /* 枠線の角丸 */
   padding: 2px 6px 2px 2px;   /* 内側の余白 */
   margin-bottom: 4px;         /* 外側の下の余白 */
   display: inline-block;      /* 途中で改行させない */
   cursor: pointer;        
}

/* ▼マウスが載ったときの追加装飾 */
.zonelabel:hover {
   background-color: blue;  /* 背景色 */
   color: white;            /* 文字色 */
}

#listvar{
    grid-row:3/4;
    grid-column:1/2;
}

#main{
    grid-row:2/4;
    grid-column:2/3;
}

.boxlist{
    border:solid 8px ;
    box-sizing: border-box;
    /*line-height: 100px;*/
}

.boxA{
    width:100%;
    height:250px;
    border-color:yellow;
}

.boxB{
    width:100%;
    height:100%;
    color:white;
}


